<!DOCTYPE html>
<html>
<head>
<style type="text/css">body{background-color: powerblue}
h2{color:green}
p{color:blue}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Registeration Page</h2>
<form>
	<label for="name">Name:</label><br>			<input type="text" name="name"><br>
 <label for="email">Email Id:</label><br>	<input type="email" name="email"><br>
 <label for="password">Password:</label><br>	<input type="password" name="password"><br>
 <label for="phone">Phone No:</label><br>	<input type="number" name="phone">
<input type="submit" name="register" value="register">
</form>
</body>
</html>